body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #faf9ff;
}

#hobbies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section img {
    display: block;
    margin: auto;
    min-width: 180px;
    max-width: 220px;
    padding-top: 30px;
    padding-bottom: 20px;
}

section h3 {
    padding-top: 10px;
    text-align: center;
}

section p {
    padding: 20px;
    text-align: center;
}

.hobby-item {
    flex: 1;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}















.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}